<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miembros</title>
    <link rel="stylesheet" href="static/css/conocenos.css">
    <link rel="icon" href="static/ico/tikect.ico" type="image/x-icon">
</head>
<body>
    <header>
        </div>
    </header>

    <nav>
        <div class="container">
            <ul>
                <li><a href="dashboard?username={{ username }}&email{{ email }}&password={{ password }}">Dashboard</a></li>
                <li><a href="https://docs.opendaylight.org/en/latest/downloads.html">API OpenDaylight</a></li>
            </ul>
        </div>
    </nav>
</header>

    <div class="header-divider"></div>

    <main>

        <h2 class="team-title">Conoce a nuestro equipo</h2>

        <section class="team">
            <div class="team-member">
                <img src="static/Equipo/Nestor.jpg" alt="Miembro 1 del Equipo">
                <h2>Nestor Torres</h2>
            </div>
            <div class="team-member">
                <img src="static/Equipo/Hector.jpeg" alt="Miembro 2 del Equipo">
                <h2>Hector Chairez</h2>
            </div>
            <div class="team-member">
                <img src="static/Equipo/Ever.jpeg" alt="Miembro 3 del Equipo">
                <h2>Ever Orozco</h2>
            </div>

            <div class="team-member">
                <img src="static/Equipo/Abdiel.jpg" alt="Miembro 4 del equipo">
                <h2>Abdiel Pererdo</h2>
            </div>

            <div class="team-member"> 
                <img src="static/Equipo/Eder.jpeg"alt="Miembro 5 del equipo">
                <h2>Eder Mendoza </h2>
            </div>

            <div class="team-member">
                <img src="static/Equipo/Javier.jpeg" alt="Miembro 6 del equipo">
                <h2>Javier Florez</h2>
            </div>

            <div class="team-member">
                <img src="static/Equipo/Denis.jpg" alt="Miembro 7 del equipo">
                <h2>Denis Chavez</h2>
            </div>

            <div class="team-member">
                <img src="static/Equipo/Ana.jpeg" alt="Miembro 8 del equipo">
                <h2>Ana Gutierrez</h2>
            </div>
            <!-- Añade más miembros del equipo según sea necesario -->
        </section>

        <section class="values">
            <h2>Nuestros valores</h2>
            <ul>
                <li>Compromiso con el profe</li>
                <li>Calidad en nuestros trabajos</li>
                <li>Persitencia constante</li>
                <li>Trabajo en equipo</li>
            </ul>
        </section>
    </main>

    <footer>
        <p> Desarrollado por empresas TRM41. © 2024 Todos los derechos reservados</p>
    </footer>
    <script src="JAVA/NombreUsuario.js"></script>
    <script src="JAVA/SesionLink.js"></script>
    <script src="JAVA/CarJS.js"></script>
    <script src="JAVA/AddToCart.js"></script>
    <script src="JAVA/SearchBar.js"></script>
</body>
</body>
</html>
